* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE2B7;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.Box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #D62828;
    background-color: #FCBF49;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FCBF49;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FCBF49;
    border-radius: 1rem;
}

#msg{
    color:#D62828;
    font-size: 6vmin;
    font-weight: bold;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-family: "Libre Baskerville", serif;
}

.hide{
    display: none;
}
#draw-hide{
    display: none;
}